<p class="label-for-combo">select airline</p>
<select class="combo1" (change) ="onChange($event)">
    <option selected>Air France</option>
    <option >KLM</option>
    <option >Finnair</option>
</select>
<p class="label-for-combo">{{ test_output}}</p>
<div class="content" style="width: 100%; height: 100%;">
    <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
    <ag-grid-angular
        style="width: 100%; height: 100%;"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
    />
</div>